  <!-- Second Nav -->
  <div class="container-fluid d-flex secNav">
    <div class="mr-auto p-2 l-links">

      <a class="p-2" href="/browse-project">Browse Project</a>
      {{!-- <a class="p-2" href="/">Browse Contest</a> --}}
      <a class="p-2" href="/">Freelancers</a>

    </div>
    <div class="p-2 r-link">
      <a href="/wallet">
      <i class="fal fa-wallet"></i><span>Wallet:</span>
      <span class="bal">₹ {{user.wallet}}</span></a>
    </div>

  </div>