 <div class="nav-cont container-fluid fixed-top bg-dark">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/work-dashboard"><img class="logo" src="images/site/logo.svg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="searchForm" action="/">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input class="form-control mr-sm-2 searchBox ml-3" type="search" placeholder="Search jobs"
                  aria-label="Search">
            </form>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="rightButton">
            <a href="/add-project" class="postBtn">Post a Work</a>
          </div>
          <a href=""><i class="fal fa-bell notiBtn"></i></a>
          
        </form>
          <div class="dropdown">
            <a href="" class="dropbtn"><img class="profileImg" src="images/site/default.jpg" class="postBtn"></a>
             <div class="dropdown-content">
                  <a href="#" class="userName"><i class="fas fa-user-circle mr-2"></i>{{user.name}}</a>
                  <a href="/signout"><div class="signOutBtn">Sign out<i class="far fa-sign-out-alt ml-2"></i></div></a>
             </div>
</div>
      </div>
    </nav>
  </div>