<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>JobX - Freelance</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="/stylesheets/home/magnific-popup.css">

    <link rel="icon" type="image/x-icon" href="/images/site/favicon.ico">

    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="/stylesheets/home/slick.css">

    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="/stylesheets/home/LineIcons.css">

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/stylesheets/home/bootstrap.min.css">

    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="/stylesheets/home/default.css">

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="/stylesheets/home/style.css">

</head>

<body>


    {{{body}}}





    <!--====== Jquery js ======-->
    <script src="/javascripts/home/vendor/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/home/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="/javascripts/home/popper.min.js"></script>
    <script src="/javascripts/home/bootstrap.min.js"></script>

    <!--====== Slick js ======-->
    <script src="/javascripts/home/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="/javascripts/home/jquery.magnific-popup.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="/javascripts/home/ajax-contact.js"></script>

    <!--====== Isotope js ======-->
    <script src="/javascripts/home/imagesloaded.pkgd.min.js"></script>
    <script src="/javascripts/home/isotope.pkgd.min.js"></script>

    <!--====== Scrolling Nav js ======-->
    <script src="/javascripts/home/jquery.easing.min.js"></script>
    <script src="/javascripts/home/scrolling-nav.js"></script>

    <!--====== Main js ======-->
    <script src="/javascripts/home/main.js"></script>

</body>

</html>