


  <div class="nav-cont container-fluid fixed-top bg-dark">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#"><img class="logo" src="images/site/logo.svg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="searchForm" action="/">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input class="form-control mr-sm-2 searchBox ml-3" type="search" placeholder="Search jobs"
                  aria-label="Search">
            </form>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="rightButton">
            <a href="" class="postBtn">Post a Work</a>
          </div>
          <a href=""><i class="fal fa-bell notiBtn"></i></a>
          <a href=""><img class="profileImg" src="images/site/SHAMEEM-LUKMAN.jpg" class="postBtn"></a>
        </form>
      </div>
    </nav>
  </div>

  <!-- Second Nav -->
  <div class="container-fluid d-flex secNav">
    <div class="mr-auto p-2 l-links">

      <a class="p-2" href="/">Browse Project</a>
      <a class="p-2" href="/">Browse Contest</a>
      <a class="p-2" href="/">Freelancers</a>

    </div>
    <div class="p-2 r-link">
      <i class="fal fa-wallet"></i><span>Wallet:</span>
      <span class="bal">$10</span>
    </div>

  </div>

  <!-- Home starts -->

  


<!-- ///////////////////////// -->



<div class="container ">

  <div class="container d-flex p-0 mt-4 bg-dark">
    <span class="step d-flex justify-content-center align-items-center"><i class="far fa-info-circle mr-2"></i>Project Details</span>
    <span class="step d-flex justify-content-center align-items-center"><i class="fas fa-list mr-2"></i>Type of Project</span>
    <span class="step d-flex justify-content-center align-items-center"><i class="fal fa-usd-circle mr-2"></i>Payment Details</span>

  </div>

  <div class="formCont w-100">
  <form id="regForm" name="regForm" action="/add-project" method="post" enctype="multipart/form-data">
  
  
    <!-- <h1 id="headingAdd">Register:</h1> -->
    <!-- One "tab" for each step in the form: -->
    <div class="tab">
      <label>Choose a name for your project:</label>
      <p><textarea class="variElem" type="textarea" placeholder="Project heading here.." oninput="this.className = ''" name="pheading"></textarea></p>
      <label>Tell us more about your project:</label>
      <p><textarea class="variElem" placeholder="Describe project here.." oninput="this.className = ''" name="pdetails"></textarea></p>
      <label>Upload supporting files for your project (Compressed files only):</label>
      <input type="file" id="myfile" name="files" accept=".zip,.rar,.7zip">
    </div>


    <!-- ////////////// -->

    <div class="tab">

      <p>Select the skills required for your project</p>

      <!-- ///////////////  SEARCH SKILLS  ////////////////// -->

      <div class="select-box mb-3">
        <div class="options-container active">
          <div class="option align-items-start">
            <input type="checkbox" class="radio" id="automobiles" name="skills" value="Auto mobiles"/>
            <label for="automobiles">Automobiles</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="film" name="skills" value="Film" />
            <label for="film">Film & Animation</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="science" name="skills" value="Science"/>
            <label for="science">Science & Technology</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="art" name="skills"  value="Art"/>
            <label for="art">Art</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="music" name="skills" />
            <label for="music">Music</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="travel" name="skills" value="Travel" />
            <label for="travel">Travel & Events</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="sports" name="skills" value="Sports" />
            <label for="sports">Sports</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="news" name="skills" value="News">
            <label for="news">News & Politics</label>
          </div>

          <div class="option">
            <input type="checkbox" class="radio" id="tutorials" name="skills" value="Tutorials" />
            <label for="tutorials">Tutorials</label>
          </div>
        </div>



        <div class="search-box">
          <input type="text" placeholder="Search skills.." />
        </div>
      </div>
    </div>
            

    



    <!-- ////////////// -->

    <div class="tab">
      <p><label for="dueDate">When you are going to end this project:</label>
      <input type="date" id="dueDate" name="dueDate" required></p>
      <p><label for="dueDate">Enter the reward amount (in ₹):</label>
      <input type="number" min="1" step="any" name="amount"/></p>

    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" class="btn-addPro" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" class="btn-addPro" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    
  </form>
</div>

</div>





<!-- ///////////////////// -->


