
  <!-- Second Nav -->
  <div class="container-fluid d-flex secNav">
    <div class="mr-auto p-2 l-links">

      <a class="p-2" href="/browse-project">Browse Project</a>
      <a class="p-2" href="/">Browse Contest</a>
      <a class="p-2" href="/">Freelancers</a>

    </div>
    <div class="p-2 r-link">
      <i class="fal fa-wallet"></i><span>Wallet:</span>
      <span class="bal">$10</span>
    </div>

  </div>

  <!-- Home starts -->

    <div class="container mt-4">
      <h1 class="windowHeading"><i class="fas fa-tasks mr-3"></i>Projects</h1>
    </div>
    

    <div class="container">
      <div class="row">

        <div class="col-md-9">

          <div class="card-head d-flex" style="width: 100%">
            <!--  -->

            <div class="mr-auto p-2 activePending">

              <a class="activeBtn" style="color: #003049;" href="">Active</a>
              <a class="PendingBtn" style="color: #003049;" href="">Pending</a>

            </div>
            <div class="p-2 proSearch">
              <form>
                <input class="searchJob" type="search" placeholder="Search" aria-label="Search">
              </form>
            </div>
            <!--  -->
          </div>

          <!-- Project card 1 -->
          <div class="card card-custom" style="width: 100%">
            <div class="card-body">

              <div class="container">

                <div class="row">
                  <div class="col-sm-8">
                    <span class="proTitle">One of three columns</span>
                  </div>
                  <div class="d-flex col-sm-4 justify-content-end mt-4">
                    <span class="mr-md-3" style="font-weight: 900;">$600</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <div class="thumb"><img src="/img/sample.jpg"></div>

                  </div>
                  <div class="col-sm-9">
                    <p class="p-desc">Some description goes here</p>
                    <p>Hosteruser</p>
                    <p>Due date: 12/02/2019</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Card ends here -->

          <!-- Project card 2 -->
          <div class="card card-custom" style="width: 100%">
            <div class="card-body">

              <div class="container">

                <div class="row">
                  <div class="col-sm-8">
                    <span class="proTitle">One of three columns</span>
                  </div>
                  <div class="d-flex col-sm-4 justify-content-end mt-4">
                    <span class="mr-md-3" style="font-weight: 900;">$600</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <div class="thumb"><img src="/img/sample.jpg"></div>

                  </div>
                  <div class="col-sm-9">
                    <p class="p-desc">Some description goes here</p>
                    <p>Hosteruser</p>
                    <p>Due date: 12/02/2019</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Card 2 ends here -->

          <!-- Project card 3 -->
          <div class="card card-custom" style="width: 100%">
            <div class="card-body">

              <div class="container">

                <div class="row">
                  <div class="col-sm-8">
                    <span class="proTitle">One of three columns</span>
                  </div>
                  <div class="d-flex col-sm-4 justify-content-end mt-4">
                    <span class="mr-md-3" style="font-weight: 900;">$600</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <div class="thumb"><img src="/img/sample.jpg"></div>

                  </div>
                  <div class="col-sm-9">
                    <p class="p-desc">Some description goes here</p>
                    <p>Hosteruser</p>
                    <p>Due date: 12/02/2019</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Card 3 ends here -->



          <!-- Project card 4 -->
          <div class="card card-custom" style="width: 100%">
            <div class="card-body">

              <div class="container">

                <div class="row">
                  <div class="col-sm-8">
                    <span class="proTitle">One of three columns</span>
                  </div>
                  <div class="d-flex col-sm-4 justify-content-end mt-4">
                    <span class="mr-md-3" style="font-weight: 900;">$600</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <div class="thumb"><img src="/img/sample.jpg"></div>

                  </div>
                  <div class="col-sm-9">
                    <p class="p-desc">Some description goes here</p>
                    <p>Hosteruser</p>
                    <p>Due date: 12/02/2019</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Card 4 ends here -->

        </div>

        <!-- SIDE BAR RIGHT -->

        <div class="col-md-3">

          <div class="holder project-contest sticky">

            <!-- Working On -->

            <div class="card card-custom " style="width: 100%;">
              <div class="d-flex w-100 justify-content-center pt-2">
                <h5 class="card-title" style="font-size: 16px; color: #7E7E7E;">As Client</h5>
              </div>
              <div class="line"></div>
              <div class="card-body">
                
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse1">Project <span class="count">0</span></a>
                      </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">Active</div>
                      <div class="panel-body">Completed</div>
                  </div>

                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse2">Contest <span class="count">0</span></a>
                       </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">Active</div>
                      <div class="panel-body">Completed</div>
                  </div>

              </div>
            </div>

            <!-- Working On -->
            
            <div class="card card-custom " style="width: 100%;">
              <div class="d-flex w-100 justify-content-center pt-2">
                <h5 class="card-title" style="font-size: 16px; color: #7E7E7E;">As worker</h5>
              </div>
              <div class="line"></div>
              <div class="card-body">
                
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse3">Project <span class="count">0</span></a>
                      </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">Active</div>
                      <div class="panel-body">Completed</div>
                  </div>

                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse4">Hosted <span class="count">0</span></a>
                       </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">Active</div>
                      <div class="panel-body">Completed</div>
                  </div>

              </div>
            </div>

          </div>


        </div>

      </div>
    </div>

