  <div class="container-fluid w-100">
    <div class="row whole">

      <!-- LEFT SIDE -->

      <div class="col-md-3 h-100 d-flex justify-content-center align-items-center left">
        
        <div class="container">
  
          
          <div class="intro d-flex justify-content-center row w-100 mt-5"> 
            <i class="fal fa-stars" style="color: #FCBF49; font-size: 25px;"></i>
            <div class="ml-2 introTxt">
                <span class="introHead">Proof of quality</span>
                <br>Check any pro’s work samples, client reviews, and identity verification.
            </div>
          </div>

          <div class="intro d-flex justify-content-center row w-100 mt-5"> 
            <i class="fal fa-badge-dollar" style="color: #FCBF49; font-size: 25px;"></i>
            <div class="ml-2 introTxt">
                <span class="introHead">No cost until you hire</span>
                <br>Interview potential fits for your job, negotiate rates, and only pay for work you approve.
            </div>
          </div>

          <div class="intro d-flex justify-content-center row w-100 mt-5"> 
            <i class="fal fa-check-circle" style="color: #FCBF49; font-size: 25px;"></i>
            <div class="ml-2 introTxt">
                <span class="introHead">Safe and secure</span>
                <br>Focus on your work knowing we help protect your data and privacy. We’re here with 24/7 support if you need it.
            </div>
          </div>
        
        </div>
      
      
      </div>

      <!-- RIGHT SIDE -->

      <div class="col-md-9 d-flex justify-content-center align-items-center right">
        
        <div class="container form-container p-5">

          <div class="row d-flex justify-content-center mb-2">
            <a href=""><img src="images/site/logo-dark.svg"></a>
          </div>

          {{#if error}}
          <div class="alert alert-danger mt-4 loginError" role="alert">
                      {{error}}
          </div>{{/if}}

 
          <div class="container">

              <div class="row login-form mt-4">
                <form class="w-100" action="/login" method="post">
                  
                  <div class="field">
                    <span class="elabel"></span>
                    <input type="email" id="fname" name="email" placeholder="Email" required>
                  </div>

                  <div class="field">
                    <span class="plabel"></span>
                    <input type="password" id="fname" name="password" placeholder="Password">
                  </div>

                  <div class="mt-2"><a class="forgotPass" href="">Forgot Password?</a> </div>

                  <button class="mt-4 w-100 submitBtn" type="submit" value="Submit">LOG IN</button>
                
                  
                </form> 
              </div>

              <!-- Google Facebook -->
              
                <div class="row google-fb mt-2">
                  <div class="col-sm d-flex p-0">
                    <a class="text-center" href=""><img src="images/site/google.svg" height="25px" width="25px"> Google</a>
                  </div>
                  <div class="col-sm d-flex justify-content-end p-0">
                    <a class="text-center" href=""><img class="gf-img mr-1" src="images/site/fb.svg" height="25px" width="25px">Facebook</a>
                  </div>
                </div>


              <div class="row mt-5"><div class="line"></div></div>

              <div class="w-100 text-center mt-3"><p>Ready to join our team ? <a href="/signup" style="color: #FCBF49;">Join now</a></p></div>
            
              
              
          </div>
        </div>
      </div>

      
    </div>
  </div>

