<div id="page-container">
  <div id="content-wrap">

    {{>sec-nav-worker}}

  <!-- Home starts -->

  


<!-- ///////////////////////// -->



<div class="container w-lg-50 mb-3">

  <div class="container d-flex p-0 mt-4 bg-dark">

    <span class="step d-flex justify-content-center align-items-center"><i class="far fa-info-circle mr-2"></i>Create work profile</span>

  </div>

  <div class="formCont w-100">
  <form class="regForm" id="regSkills" method="post" name="regSkills">
  
    <!-- ////////////// -->

  

      <p style="font-weight: 500;">To create a work profile, you need to first specify your skills</p>

      <!-- ///////////////  SEARCH SKILLS  ////////////////// -->

      <div class="select-box mb-3">
        <div class="options-container active">
          
          {{#each skills}}

          <div class="option">
            <input type="checkbox" class="radio" id="{{this.code}}" name="skills" value="{{this.code}}" />
            <label for="{{this.code}}">{{this.name}}</label>
          </div>

          {{/each}}

          
        </div>



        <div class="search-box">
          <input type="text" placeholder="Search skills.." />
        </div>
        
      </div>
    
            
    <div><button type="submit" class="btn-submit mb-5" style="float: right;">APPLY</button></div><br><br>

    <!-- ////////////// -->
    

    
  </form>
</div>
</div>


  </div>
  {{>user-footer}}
</div>



 <div id="snackbar"></div>

<!-- ///////////////////// -->


