

  <!-- Second Nav -->
  <div class="container-fluid d-flex secNav">
    <div class="mr-auto p-2 l-links">

      <a class="p-2" href="/browse-project">Browse Project</a>
      {{!-- <a class="p-2" href="/">Browse Contest</a> --}}
      <a class="p-2" href="/">Freelancers</a>

    </div>
    <div class="p-2 r-link">
      <i class="fal fa-wallet"></i><span>Wallet:</span>
      <span class="bal">$10</span>
    </div>

  </div>


<!-- //////////// CONTENT STARTS ///////////// -->


<div id="workarea" class="site-wrapper">
	<section class="tabs-wrapper">
		<div class="tabs-container">
			<div class="tabs-block">
				<div id="tabs-section" class="tabs">
					<ul class="tab-head">
						<li>
							<a href="#tab-1" class="tab-link active"> <span class="tab-icon"><i class="far fa-info-circle"></i></span> <span class="tab-label">Overview</span></a>
						</li>
						<li>
							<a href="#tab-2" class="tab-link"> <span class="material-icons tab-icon"><i class="far fa-file"></i></span> <span class="tab-label">Files</span></a>
						</li>
						<li>
							<a href="#tab-3" class="tab-link"> <span class="material-icons tab-icon"><i class="far fa-comment-alt"></i></span> <span class="tab-label">Messages</span></a>
						</li>
					</ul>

					<section id="tab-1" class="tab-body entry-content active active-content">
						<h2>Face Primer</h2>
						<p>While some people don’t think that <a href="#">face primer</a> is necessary, I personally view it as a vital step in my makeup routine.</p>
						<p>Face primers’ exact effects on your skin and makeup can vary, but overall, their main purpose is to keep your skin looking smooth and your makeup looking fresh all day long.</p>
						<p>Face primers’ exact effects on your skin and makeup can vary, but overall, their main purpose is to keep your skin looking smooth and your makeup looking fresh all day long.</p>
						<br><br><br><br><br><br><br><br><br><br><br>
					</section>

					<section id="tab-2" class="tab-body entry-content">
						<h2>Foundation</h2>
						<p>Foundation is probably the hardest part of your makeup routine to get right, as you not only have to consider the type of coverage you want (i.e. sheer/natural, medium, or full), but also your skin type and undertones.</p>
						<p>If you are new to wearing foundation or aren’t sure what type/shade is right for you, I’d highly recommend going to your nearest Sephora, MAC, or department store and have a makeup artist help you pick out one that matches your complexion and fits your coverage needs. It’s also a good idea to request a sample if you want to see how a formula feels on your skin before buying.</p>
					</section>



          {{!-- CHAT SECTION --}}

					<section id="tab-3" class="tab-body entry-content">

      <div class="chat-wrapper">
            <div class="menu">
            <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
            <div class="name">Alex</div>
            <div class="last">18:09</div>
        </div>
    <ol class="chat">
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
      <div class="msg">
        <p>Hola!</p>
        <p>Te vienes a cenar al centro? <emoji class="pizza"/></p>
        <time>20:17</time>
      </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
      <div class="msg">
        <p>Puff...</p>
        <p>Aún estoy haciendo el contexto de Góngora... <emoji class="books"/></p>
        <p>Mejor otro día</p>
        <time>20:18</time>
      </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
      <div class="msg">
        <p>Qué contexto de Góngora? <emoji class="suffocated"/></p>
        <time>20:18</time>
      </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
      <div class="msg">
        <p>El que mandó Marialu</p>
        <p>Es para mañana...</p>
        <time>20:18</time>
      </div>
    </li>

    </ol>

    <input class="msg-textarea" type="text" placeholder="Type here!"/><div class="emojis"></div>

      </div>
					</section>

				</div>
			</div>
		</div>
	</section>

</div>

<!-- ///////////////////// -->


